* {
    padding: 0px;
    margin: 0px;
}

:root {
    --bg-color: rgb(20, 20, 20);
    --g1: rgb(200, 200, 0);
    --g0: rgb(200, 100, 0);
    --g2: rgb(200, 100, 100);
    --g2: rgb(200, 0, 100);
    --g3: rgb(200, 0, 200);
    --g4: rgb(100, 100, 200);
}

body {
    background-color: var(--bg-color);
}

main {
    height: 100vh;
    width: 100vw;

    display: flex;
    place-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contactInfo {
    color: white;
    font-size: 2.5vmin;
    font-family: 'Roboto', sans-serif;
    /* width: 30vw; */
    /* height: 40vh; */

    padding: 1rem;
    margin: 1rem;

    border: 1px white solid;
    border-radius: 1rem;
}

.contactInfo>ul {
    list-style: none;
    font-weight: 300;
}

.contactInfo>ul>li {
    margin: 0.5rem;
}

.icon {
    margin-right: 1rem;
    font-size: 150%;
}

iframe {
    border-radius: 1rem;
    /* box-shadow: 0.1rem 0.1rem 1rem gray; */
}

img {
    border: 1px white solid;
}

.contactInfo>ul>li>a {
    text-decoration: none;
    color: white;
}

.contactInfo>ul>li>a:hover {
    /* text-decoration: none; */
    font-size: 120%;
    color: gray;
}